.main {
  margin: 50px auto;
  width: 525px;
  height: 800px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.board {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  padding: 16px;
  width: 450px;
}
.board:first-child  {
  align-items: flex-start;
}

.date-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}