.main-form {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    width: 450px;
    border: 1px solid #ffffff;
}

.add-button {
    all: unset;
    text-align: center;
    border-radius: 3px;
    background-color: #3DD980;
    color: black;
    padding: 9px;
    cursor: pointer;
    font-family: Inter;
    font-size: 24px;
}